body {
    margin: 0;
    padding: 0;
}
#dvd {
    background-image: url(dvd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    position: relative;
}